<h1>Photos</h1>

<table class= table table-striped>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @photos %>
  </tbody>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
