<div class="row">
	<div class= "span6 offset3">
		<div class="well">
			<p>
			  <%= @photo.description %>
			</p>
			<%= link_to 'Edit', edit_photo_path(@photo) %> |
			<%= link_to 'Back', photos_path %>
		</div>
	</div>
</div>
