<div class="hero-unit">

	<h1>Travel Photo Share</h1>

		<p>
			This is your new home for all of those fantastic photos you took on vacation. The aim is to not only store and view your own photos, but to share them with the world. Think of it as a giant travel photo album assembled by...everyone. 
		</p>

<div class= "btn btn-large">
<p>
<a href="#">Sign Up Now!</a>
</p>
</div>

</div>
