<% if user_signed_in? %>
<h1>Rad Travel Photos Here</h1>
<% else %>


<div class="hero-unit">

	<h1>Travel Photo Share</h1>

		<p>
			This is your new home for all of those fantastic photos you took on vacation. The aim is to not only store and view your own photos, but to share them with the world. Think of it as a giant travel photo album assembled by...everyone. 
		</p>
		<br>
		</br>

<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-large" %>

</div>

<% end %>